<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blockchain Simulator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
    <div class="container">
        <h1>Blockchain Simulator</h1>
        <div class="control-panel"> <input type="text" id="blockData" placeholder="Enter Block Data" /> <button
                onclick="mineBlock()">Mine Block</button> <button onclick="fixBlockchain()">Fix Blockchain</button>
        </div>
        <div id="blockchainContainer"></div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>